h1{
	color: red;
	background-color: green;
	font-size: 55px;
	text-align: center;
}
/*H2*/
h2{
	color: green;
	background-color:darkred;
}
h3{
	border: dotted greenyellow;
}
a{
	font-size: 30px;
}
/*Article*/
article{
	font-size: 20px;
}
p{
	color: red;
	font-size: 20px;
}
table{
	color: blue;
}
.header{
	min-height: 100px;
	background-color: red;
}
.container {
	overflow: hidden;
	border: solid yellow 10px ;
}
.contact{
	float: left;
	width:60% ;
	min-height:200px ;
	background-color: green ;
}
.blog{
	float: right;
	width:40%;
	min-height:200px;
	background-color: blue ; 
}
.footer{
	min-height: 100px;
	background-color: darkgoldenrod;
}
